<div style='width: 100%; height: 100%'>
  <div class="container">
    <div id="map" style='width: 80%; height: 100%; float: right;' class="map"></div>
    <div class="rate rate-btn-container">
      <button id="like" type="button" class="btn btn-sm rate-btn btn-link"></button>
      <button id="dislike" type="button" class="btn btn-sm rate-btn btn-link"></button>
    </div>
  </div>
</div>

<!-- Sidebar header -->
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left sidebar-panel" style="display:block; width: 20%;" id="mySidebar">
  <button class="btn-sidebar-left w3-bar-item w3-button w3-large ">Create Account </button>
  <button class="btn-sidebar-left w3-bar-item w3-button w3-large ">Log in/out </button>
  <button class="btn-sidebar-right w3-bar-item w3-button w3-large">Close &times;</button>

  <!-- End sidebar header -->

  <!-- sidebar body cards -> these need to be dynamically generated with Ruby-->
  <% @locs.each do |loc| %>
    <div class="card" style="width: 100%;">
      <div class="card-header">
        [Letter]
      </div>
      <div class="card-body">
        <h5 class="card-title">[Venue Name]</h5>
        <p class="card-text">[Venue Location]</p>
        <!-- link below could also be part of dynamically generate-->
        <a href="https://www.uchicago.edu/" class="btn btn-primary">[See Venue]</a>
      </div>
    </div>
  <% end %>
  <!--sidebar body-->
</div>

