<div style='width: 100%; height: 100%'>
  <div id="map" style='width: 80%; height: 100%; float: right;'></div>
   <!-- Sidebar header -->
          <div class="w3-sidebar w3-bar-block w3-card w3-animate-left sidebar-panel" style="display:block; width: 20%;" id="mySidebar">
            <button class="btn-sidebar-left w3-bar-item w3-button w3-large ">Log out </button>
            <button class="btn-sidebar-right w3-bar-item w3-button w3-large">Close &times;</button>
    <!-- End sidebar header -->

    <!-- sidebar body cards -> these need to be dynamically generated with Ruby-->
          <div class="card" style="width: 100%;">
            <div class="card-header">
                A
            </div>
            <div class="card-body">
              <h5 class="card-title">University of Chicago</h5>
              <p class="card-text">Blah blah lovely destination blah blah photo op</p>
              <!-- link below could also be part of dynamically generate-->
              <a href="https://www.uchicago.edu/" class="btn btn-primary">See UChicago</a>
            </div>
          </div>
          <div class="card" style="width: 100%;">
              <div class="card-header">
                  B
              </div>
              <div class="card-body">
                <h5 class="card-title">University of Chicago</h5>
                <p class="card-text">Blah blah lovely destination blah blah photo op</p>
                <!-- link below could also be part of dynamically generate-->
                <a href="https://www.uchicago.edu/" class="btn btn-primary">See Restaurant B</a>
             </div>
          </div>
          <div class="card" style="width: 100%;">
                <div class="card-header">
                    C
                </div>
                <div class="card-body">
                  <h5 class="card-title">University of Chicago</h5>
                  <p class="card-text">Blah blah lovely destination blah blah photo op</p>
                  <!-- link below could also be part of dynamically generate-->
                  <a href="https://www.uchicago.edu/" class="btn btn-primary">See MSI</a>
               </div>
             </div>
          <div class="card" style="width: 100%;">
                <div class="card-header">
                    D
                </div>
                <div class="card-body">
                  <h5 class="card-title">University of Chicago</h5>
                  <p class="card-text">Blah blah lovely destination blah blah photo op</p>
                  <!-- link below could also be part of dynamically generate-->
                  <a href="https://www.uchicago.edu/" class="btn btn-primary">See MSI</a>
               </div>
           </div>


  <!--sidebar body-->
</div>
