    <!-- Topbar Header -->

      <div class="w3-container">
          <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Please Enter your Email Address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@email.com">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Please Enter a Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
    <!-- End Topbar Header -->





<div style='width: 100%; height: 100%'>
  <div id="map-btn-container" class="container">
    <div id="map" style='width: 100%; height: 100%; right: 0;' class="map-pos"></div>
    <div class="rate rate-btn-container">
      <%= link_to '', root_path, class: "btn btn-sm rate-btn btn-link", id: "like" %>
      <%= link_to '', root_path, class: "btn btn-sm rate-btn btn-link", id: "dislike" %>
    </div>
  </div>


<!-- Sidebar header -->
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left sidebar-panel" style="display:block; width: 20%;" id="mySidebar">
  <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <button class="btn-outline-info">Home </button>
        <button class="btn-outline-info"">Liked Itineraries</button>
        <button class="btn-outline-info">Login</button>
         <button onclick="document.getElementById('id01').style.display='block'" class="btn-outline-info">Register</button>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
  
  <!-- <button class="btn-sidebar-right w3-bar-item w3-button w3-large">Close &times;</button> -->

  <!-- End sidebar header -->

  <!-- sidebar body cards -> these need to be dynamically generated with Ruby-->
  <% @locs.each do |loc| %>
    <div class="card" style="width: 100%;">
      <div class="card-header">
        [Letter]
      </div>
      <div class="card-body">
        <h5 class="card-title">[Venue Name]</h5>
        <p class="card-text">[Venue Location]</p>
        <!-- link below could also be part of dynamically generate-->
        <a href="https://www.uchicago.edu/" class="btn btn-outline-info">[See Venue]</a>
      </div>
    </div>
  <% end %>
  <!--sidebar body-->
</div>
</div>

