<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>ItinGen - Itinerary Generator</title>

  <link rel="stylesheet" type="text/css" href="ItinGen/app/assests/stylesheets/main.css">
</head>


<body id="home">
<div style='width: 100%; height: 100%'>
  <div id="map" style='width: 80%; height: 100%; float: right;'>
    
  </div>

<form action="action_page.php">
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>


   <!-- Sidebar header -->
<!--           <div class="w3-sidebar w3-bar-block w3-card w3-animate-left sidebar-panel" style="display:block; width: 20%;" id="mySidebar">
            <button class="btn-sidebar-left w3-bar-item w3-button w3-large ">Create Account </button>
            <button class="btn-sidebar-left w3-bar-item w3-button w3-large ">Log in/out </button>
            <button class="btn-sidebar-right w3-bar-item w3-button w3-large">Close &times;</button>
          </div> -->
    <!-- End sidebar header -->

    <!-- sidebar body cards -> these need to be dynamically generated with Ruby-->
          <div class="card" style="width: 100%;">
            <div class="card-header">
                A
            </div>
            <div class="card-body">
              <h5 class="card-title">University of Chicago</h5>
              <p class="card-text">Blah blah lovely destination blah blah photo op</p>
              <!-- link below could also be part of dynamically generate-->
              <a href="https://www.uchicago.edu/" class="btn btn-primary">See UChicago</a>
            </div>
          </div>
          <div class="card" style="width: 100%;">
              <div class="card-header">
                  B
              </div>
              <div class="card-body">
                <h5 class="card-title">University of Chicago</h5>
                <p class="card-text">Blah blah lovely destination blah blah photo op</p>
                <!-- link below could also be part of dynamically generate-->
                <a href="https://www.uchicago.edu/" class="btn btn-primary">See Restaurant B</a>
             </div>
          </div>
          <div class="card" style="width: 100%;">
                <div class="card-header">
                    C
                </div>
                <div class="card-body">
                  <h5 class="card-title">University of Chicago</h5>
                  <p class="card-text">Blah blah lovely destination blah blah photo op</p>
                  <!-- link below could also be part of dynamically generate-->
                  <a href="https://www.uchicago.edu/" class="btn btn-primary">See MSI</a>
               </div>
             </div>
          <div class="card" style="width: 100%;">
                <div class="card-header">
                    D
                </div>
                <div class="card-body">
                  <h5 class="card-title">University of Chicago</h5>
                  <p class="card-text">Blah blah lovely destination blah blah photo op</p>
                  <!-- link below could also be part of dynamically generate-->
                  <a href="https://www.uchicago.edu/" class="btn btn-primary">See MSI</a>
               </div>
           </div>


  <!--sidebar body-->
</div>
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>