<div style='width: 100%; height: 100%'>
  <div id="map" style='width: 80%; height: 100%; float: right;'></div>
   <!-- Sidebar header -->
          <div class="w3-sidebar w3-bar-block w3-card w3-animate-left sidebar-panel" style="display:block; width: 20%;" id="mySidebar">
            <button class="btn-sidebar-left w3-bar-item w3-button w3-large ">Log out </button>
            <button class="btn-sidebar-right w3-bar-item w3-button w3-large">Close &times;</button>
    <!-- End sidebar header -->

    <!-- sidebar body -->
          <div class="card" style="width: 100%;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>


  <!--sidebar body-->
</div>
