    <!-- Topbar Header -->
    <div id="header" class=" w3-blue topnav" style="margin-left:auto;">
            <button class="w3-bar-item w3-button">Login / Logout</button>
    </div>

            <div class="w3-container">
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Create Account</button>
          <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Please Enter your Email Address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@email.com">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Please Enter a Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
    <!-- End Topbar Header -->





<div style='width: 100%; height: 100%'>
  <div id="map-btn-container" class="container">
    <div id="map" style='width: 100%; height: 100%; right: 0;' class="map-pos"></div>
    <div class="rate rate-btn-container">
      <%= link_to '', root_path, class: "btn btn-sm rate-btn btn-link", id: "like" %>
      <%= link_to '', root_path, class: "btn btn-sm rate-btn btn-link", id: "dislike" %>
    </div>
  </div>
</div>

<!-- Sidebar header -->
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left sidebar-panel" style="display:block; width: 20%;" id="mySidebar">
  <button class="btn-sidebar-left w3-bar-item w3-button w3-large ">Liked Itineraries </button>
  <button class="btn-sidebar-left w3-bar-item w3-button w3-large ">Current Itinerary </button>
  <!-- <button class="btn-sidebar-right w3-bar-item w3-button w3-large">Close &times;</button> -->

  <!-- End sidebar header -->

  <!-- sidebar body cards -> these need to be dynamically generated with Ruby-->
  <% @locs.each do |loc| %>
    <div class="card" style="width: 100%;">
      <div class="card-header">
        [Letter]
      </div>
      <div class="card-body">
        <h5 class="card-title">[Venue Name]</h5>
        <p class="card-text">[Venue Location]</p>
        <!-- link below could also be part of dynamically generate-->
        <a href="https://www.uchicago.edu/" class="btn btn-primary">[See Venue]</a>
      </div>
    </div>
  <% end %>
  <!--sidebar body-->
</div>

